.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App ul {
  display: flex;
  height: 800px;
  width: 900px;
  align-content: center;
}

div img.Display {
  padding: 40px;
  margin-right: 80px;
}

button {
  width: 100px;
  background-color: #ffff;
}

body {
  background-color: #b8b8f3;
}
