body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App ul {
  display: flex;
  height: 800px;
  width: 900px;
  align-content: center;
  margin-left: 60px;
}

div img.Display {
  padding-right: 120px;
  margin-left: 60px;
}

button {
  width: 100px;
  background-color: #ffff;
  margin-right: 70px;
}

body {
  background-color: #b8b8f3;
}

